# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# enviroment
.env

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# 以下を入れ替えるとzero-installが利用できます
# 簡単に言えば、プロジェクトで利用しているパッケージをすべてgit管理にし、
# 開発に参加する方が、 `yarn install` しなくてもすぐに開発が始められるようになります
# また、パッケージのバージョンが完全に固定されます
#
# 参考: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*
